h1 {
    text-align: center;
}

.signup {
    text-align: center;
    width: 40%;
    padding: 10px;
    border: 2px solid gray;
}

input {
    border-radius: 5px;
    height: 30px;
    margin-left: 5px;
}

.signupButton {
    background-color: whitesmoke;
    padding: 5px;
    width: 120px;
    height: 50px;
    border: 2px solid grey;
    border-radius: 8px;
    box-shadow: 3px 3px 5px lightgrey;
    margin-top: 20px;
    font-size: 24px;
}