// Bootstrap brand color customization
$brand-primary: #2d3047 !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-info: #2d3047 !default;
$brand-rose: $pink !default;
